body {
  background-color: #ffffff;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  border: 5px solid rgb(224, 223, 223);
  border-radius: 5px;
  width: 50%; 
  
  height: auto; 
}

.carrusel video {
  width: 100%; /* El video ocupará todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción original del video */
  object-fit: cover;
}

@media (max-width: 768px) {
  .carrusel {
    width: 100%; /* Ocupa todo el ancho */
    font-size: 0.8rem; /* Tamaño de texto reducido */
  }
  
}