.Servicios{
  font-family: "Kanit", sans-serif;
  font-weight: auto;
  font-style: normal;
}

.S {
  text-align: left;
  font-family: "Kanit", sans-serif;
  font-weight: auto;
  font-style: normal;
  color: #f48f9f;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

/* Estilo general para imágenes */
.MDBCardImage {
  object-fit: cover;
  height: 200px; 
}

/* Estilo general para las cards */
.MDBCard {
  height: 100%;
  

}

.card-body{
  background-color: #f2c0bc;
  border: none;
}

.card{
  border: none;
}



/* Media query para tabletas */
@media (max-width: 768px) {
  

  .MDBCardText {
    font-size: 1.2rem; /* Aumenta el tamaño del texto para tabletas */
  }
}

/* Media query para móviles */
@media (max-width: 576px) {
  

  .MDBCardText {
    font-size: 1rem; /* Aumenta el tamaño del texto para móviles */
  }
}
  

