/* Clase para fondo semi-transparente */
.bg-semi-transparente {
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-historia {
  padding: 20px 0;
  font-weight: bold; 
  font-size: 2rem; 
  color: #f48f9f; 
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.historia-content {
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; 
}

.historia-text {
  margin-bottom: 20px; 
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Kanit", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem; 
}

.historia-img img {
  max-width: 100%;
  height: auto; 
  object-fit: cover;
  border-radius: 10px; 
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .main-historia {
    padding: 10px 0;
    font-size: 1.5rem; 
  }

  .tituloHistoria {
    font-size: 2rem; 
  }

  .historia-text {
    font-size: 0.9rem;
  }

  .historia-content {
    flex-direction: column; 
    text-align: center; 
  }

  .historia-img img {
    max-width: 100%;
    height: auto; 
  }
}
  