.tituloTurnos{
  background: url("../assets/FondoHeader.png");
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-position: center;
  background-size: cover;
  -webkit-text-stroke: 1px;
  }

  p{
    font-family: "Kanit", sans-serif;
    font-weight: auto;
    font-style: normal;
  }
  
