.Promos {
  text-align: left;
  font-family: "Kanit", sans-serif;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.promo-container {
  padding: 40px 0;
  background-color: #f0c8be;
}

/* Ajuste de tamaño para ambos cards */
.card-video, .card-text {
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
}

.video-responsive {
  width: 100%;
  height: auto;
  max-height: 500px; 
}

.promo-text h1 {
  font-family: "Kanit", sans-serif;
  color: #ff0000;
  text-align: center;
  font-size: 5vw;
}

.botonpromo {
  color: #f48f9f;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
  font-size: 4vw;
}

@media (min-width: 768px) {
  .promo-video, .promo-text {
    padding: 2rem;
  }

  .promo-text h1 {
    font-size: 2.5rem;
  }

  .botonpromo {
    font-size: 1.5rem;
  }
}